body {
  font-size: 1.5em;
}

.wrapper {
  width: 66%;
  margin: 0 auto;
}

.player-stats {
  border: 1px solid black;
}

.player-stats td {
  font-size: 0.8em;
  border: 1px solid black;
}

.float-right {
  width: auto;
  float: right;
  max-width: 50%;
}

.tiles-market, .player-board {
  font-size: 1.5em;
  border: 1px solid black;
}

.tiles-market td,.player-board td {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.tooltip {
  font-size: 0.4em;
  border: 1px solid black;
  background-color: white;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.market-tile .tooltip {
  font-size: 0.8em;
}

td:hover .tooltip{
  visibility: visible;
}

.order {
  margin-right: 10px;
  font-size: 0.8em;
  border: 1px solid black;
  display: inline-block;
}

.small-font {
  font-size: 0.8em;
}

.float-left {
  float: left;
  max-width: 50%;
}

.action-options {
  border: 1px solid black;
  width: auto;
}

.action-option {
  font-size: 1.2em;
  display: inline-block;
}