body {
  font-size: 2em;
}

.wrapper {
  width: 66%;
  margin: 0 auto;
}

.player-stats {
  border: 1px solid black;
}

.player-stats td {
  border: 1px solid black;
}

.float-right {
  width: auto;
  float: right;
}

.player-board {
  float:left;
  font-size: 1.5em;
  border: 1px solid black;
}

.player-board td {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.order {
  border: 1px solid black;
  display: inline-block;
}